html {
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  font-family: 'Source Sans Pro', sans-serif;
  color: #2b2b2b;
}

/***** GRID *****/
.full-width {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}
.half-width {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.third-width {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 20px;
}

/****header****/

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
    background-position: center;
    background-size: cover;
    background: url("../img/hero.png");
}

header .half-width {
  width: 100%;
}

header h1 {
    color: #bbc085;
    font-family:'Lora', serif;
    font-size: 1.875rem;
  text-align: center;
    padding: 65px 0;
    width: 100%;
}

nav {
  text-align: center;
    padding: 15px 0;
}

nav ul {
  margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    color: #828282;
    font-size: 1.125rem;
    list-style: none;
    padding: 0 20px;
    text-decoration:none;
    text-transform: uppercase;
}

header h2 {
    color: #9b9b9b;
    font-family: 'Lora', serif;
    font-size: 4.5rem;
    text-align: center;
    line-height: 5rem;
    padding: 20px 0;
    width:1000px;
}

header h2 span {
    color: #2b2b2b;
}

/****about****/
#about .full-width {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
    padding: 80px 0;
}

#about h2 {
    font-family: 'Lora', serif;
    font-size: 2.25rem;
    padding-left: 50px;
    width: 100%;
}

#about p {
    color: #7f7f7f;
    font-size:1.3125rem;
    line-height:40px;
    padding-left: 50px;
    padding-right: 50px;
    flex-shrink: 30%;
}

/****work****/
#work {
  background-color: #f9ceb7;
  text-align: center;
}

#work .full-width {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
    padding: 15px 0;
}

#work img {
    padding-bottom: 30px;
    padding-right: 10px;
}

#work h3 {
    font-size:1.5rem;
    line-height:32px;
    text-align: center;
}

#work p {
    font-family:'Lora', serif;
    font-size: 1.125rem;
    line-height:30px;
    padding: 0 50px;
}

/****contact****/
#contact {
  background-color: #ebebeb;
}

#contact .full-width {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
    padding: 110px 0;
}

#contact img#contact-img {
    border: 12px solid #ffffff;
    margin-left: 25px;
    width: 100%;
}

#contact #envelope {
    padding: 0 10px;
}

#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

#contact h2 {
    font-family: 'Lora', serif;
    font-size: 2.25rem;
    line-height:44px;
}
#contact #email-header{
    font-size: 2em;
    font-weight: lighter;
    line-height:44px;
    margin: -30px 0 5px 0;
}
#contact #socialmedia-header {
    font-weight: bold;
    font-size: 1.8125rem;
    line-height:44px;
    margin: 40px 0 0 0;
}
#contact a {
    color: #c49075;
    font-size: 1.75rem;
    font-weight: bold;
    text-decoration: none;
}

#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    padding-right: 48px;
}
 /****************tablet*********************/
 @media only screen and (min-width: 768px) {

   header h1 {
     padding: 65px 0 65px 80px;
   }
   header .half-width {
     justify-content: space-between;
       width: 50%;
   }

 }



/****************desktop*********************/
@media only screen and (min-width: 1200px) {

/***** GRID *****/
.full-width {
    margin: 0 auto;
    width: 100%;
}
.half-width {
  width: 50%;
}
.third-width {
  width: 33%;
}

header .half-width {
  justify-content: space-between;
    width: 50%;
}

nav {
    padding: 75px 25px;
}

nav ul li a {
    padding-left: 80px;
}

header h2 {
    text-align: left;
}

/****work****/
#work .full-width {
    padding: 115px 0;
}

#work h3 {
    font-size:1.5rem;
    line-height:32px;
    margin: 0 ;
    width: 190px;
}

}
